@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2faf9;
  --foreground: #081513;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip-before {
  position: relative;
}

.tooltip-before::before {
  content: "Coming Soon";
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 10px;
  background-color: theme("colors.accent");
  color: theme("colors.bg");
  border-radius: 6px;
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.tooltip-before:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(30%);
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
  background: #f3f4f6;
  color: #9ca3af;
  border: 1px solid #e5e7eb;
}

@layer components {
  /* HTML: <div class="loader"></div> */
  .loader {
    width: fit-content;
    font-weight: bold;
    background: radial-gradient(circle closest-side, #0abab5 94%, #0000)
      right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
  }

  @keyframes l24 {
    100% {
      background-position: left;
    }
  }
}

@layer components {
  /* HTML: <div class="loader"></div> */
  .eyes {
    display: inline-flex;
    gap: 10px;
  }
  .eyes:before,
  .eyes:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(#222 0 0) top/100% 40% no-repeat,
      radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    animation: 2.5s infinite;
    animation-name: l8-1, e8-2;
  }
  @keyframes l8-1 {
    0%,
    40%,
    100% {
      background-size: 100% 40%, 8px 8px;
    }
    50%,
    80% {
      background-size: 100% 0%, 8px 8px;
    }
  }
  @keyframes l8-2 {
    0%,
    50% {
      background-position: top, 50% 50%;
    }
    60%,
    65% {
      background-position: top, 70% 50%;
    }
    70%,
    75% {
      background-position: top, 30% 50%;
    }
    90%,
    100% {
      background-position: top, 50% 50%;
    }
  }
}
